// ==========================================================================
// Objects / Buttons
// ==========================================================================
.o-button {
    position: relative;
    z-index: 1;
    color: white;
    background-color: black;
    transition: background-color 0.3s $easing, color 0.3s $easing;

    // set base value for buttons
    padding: rem(12px) rem(12px) rem(14px);

    // use font size in em or % to scale button text and icons
    
    // use helper (utility) classes for width, alignment, etc.
    // because the button style changes too much depending on where it is used on the page

    @include u-hocus {
        color: black;
        background-color: white;
    }
}

.o-button_label {
    border: 1px solid white; // for testing alignment only
    vertical-align: inherit;
}

.o-button_icon { // may throw this out
    display: inline-block;
    vertical-align: middle;
    width: rem($unit);
    height: rem($unit);
    margin-right: rem($unit / 4);

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.o-button_arrow {
    position: absolute;
    top: 50%;
    right: rem(35px);
    transform: translateY(-50%);
}
