
.o-icon {
	border: 1px solid white; // for testing alignment only
	display: inline-block;
	vertical-align: middle;
	width: em(24px);
	height: em(24px);

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

// if needed add size variations below

.o-icon {
	&.-unit {
		width: rem($unit);
		height: rem($unit);
	}
	&.-unit\@to-medium {
		@media (max-width: $to-medium) {
			width: rem($unit);
			height: rem($unit);
		}
	}
	&.-unit\@from-medium {
		@media (min-width: $from-tiny) {
			width: rem($unit);
			height: rem($unit);
		}
	}
}
