ul {
	margin-bottom: -1rem;
	margin-left: -1rem;
}

li {
	margin-bottom: 1rem;
	margin-left: 1rem;
	display: inline-block;
}

.o-list {
	margin-bottom: -1rem;
}

.o-list_item {
	margin-bottom: 1rem;
}
